
@font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(../../assets/fonts/Quicksand/Quicksand-Light.ttf) format('opentype');
}

@font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(../../assets/fonts/Quicksand/Quicksand-Regular.ttf) format('opentype');
}

@font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(../../assets/fonts/Quicksand/Quicksand-Medium.ttf) format('opentype');
}

@font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url(../../assets/fonts/Quicksand/Quicksand-SemiBold.ttf) format('opentype');
}

@font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(../../assets/fonts/Quicksand/Quicksand-Bold.ttf) format('opentype');
}
